body {
    background: linear-gradient(to bottom, #98c6e6, #cfa2ec);
    height: 100vh;
}
.search__container {
    display: flex;
    margin: auto;
    max-width: 800px;
    width: 100%;
    flex-direction: column;
}
.search__form {
    max-width: 800px;
    width: 100%;
    margin: 50px 0;
    position: relative;
}
.search__input {
    background: transparent;
    border: 2px solid white;
    border-radius: 40px;
    height: 40px;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
}
.search__input::placeholder {
    color: white;
    opacity: 0.6;
}
.search__input:focus {
    outline: none;
    border: 2px solid #9c22ee;
}
.search__button {
    background: transparent;
    border: none;
    position: absolute;
    right: -25px;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
.search__svg {
    display: inline-block;
    width: 40px;
    height: 40px;
    fill: #fff
}
.search__button:hover .search__svg {
    fill: #9c22ee;
}
.search__result {
    color: white;
    font-size: 24px;
}